@model Gamefacers.Models.GroupIndexViewModels

<div class="right-column">
    <fieldset>
        <legend> Members</legend>
        @foreach (var member in Model.Members)
                {
                <p>@member.FullName </p>
                }         
    </fieldset>
</div>

<div class="left-column">
    <fieldset>
        <legend> Description </legend>
        <p> @ViewBag.desc </p>
    </fieldset>
    <br />

    @Html.ActionLink("Join", "Join", "Group", new { id = ViewBag.Id }, null)
</div>

<div>
    <fieldset>
        <img src="@ViewBag.photo" class="banner-pic" />
    </fieldset>
</div>

@using (Html.BeginForm("PostStatus", "Group", new { id = ViewBag.Id }, FormMethod.Post, null))
{ 
    @Html.AntiForgeryToken()
    <div class="main-column">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status.StatusText, new {htmlAttributes = new {@class = "status-textarea"}})
                @Html.ValidationMessageFor(model => model.Status.StatusText, "", new {@class = "status-textarea"})
                <input class="status-button" name="Post" type="submit" value="Post" />
            </div>
        </div>
    </div>
}


            <br/>
            <br/>
<div class="main-column">
           
    @foreach (var status in Model.Statuses)
    {
       <p> Jonsson , kl 13:37 </p>
        <fieldset class="status">
            <!-- Hér kemur statusinn-->
            <p> @status.StatusText </p>

            @using (Html.BeginForm("PostComment", "Group", new {StatusId = status.ID, GroupId = ViewBag.Id}, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.StatusComment.CommentText, new { htmlAttributes = new { @class = "status-textarea" } })
            @Html.ValidationMessageFor(model => model.StatusComment.CommentText, "", new { @class = "status-textarea" })
            <input class="status-button" name="Post" type="submit" value="Post" />
        </div>
    </div>
}                          
     </fieldset>

        <br/>
        <br/>
    }
</div>
