@using Gamefacers.Models
@model Gamefacers.Models.FrontPageViewModel

<div class="left-column">
    <form>
        <fieldset>
            <!--Hér kemur profile pic sem user hefur upploadað-->
            <p>
                <a href="">
                    <img src="http://img1.wikia.nocookie.net/__cb20150320210257/logopedia/images/f/fa/Logo-PSX.png" alt="Go to W3Schools!" width="42" height="42" border="0">
                </a>
            </p>
        </fieldset>
        <fieldset>
            <p> @ViewBag.name </p>
            <p> @ViewBag.email </p>

        </fieldset>
        <fieldset>
           
              
            <p>@Html.ActionLink("Add User", "AddFriend", "FriendShip", new {id = ViewBag.id}, null)</p>
        
        </fieldset>
    </form>

    <!-- 2 Um profile og efst profile image-->
</div>


<div class="main-column">

    @foreach (var status in Model.Statuses)
    { <p>
        @foreach (var statusOwner in Model.Members)
        {
            if (status.UserId == statusOwner.Id)
            {

                @statusOwner.FullName
            }
        }

        -
        @foreach (var groupName in Model.Groups)
        {
            if (groupName.ID == status.GroupId)
            {
                @groupName.GroupName
            }
        }
        - @status.DateCreated
    </p>

        <fieldset class="status">
            <!-- Hér kemur statusinn-->
            <p>@status.StatusText </p>

            @foreach (var comment in Model.StatusComments)
            {
                if (status.ID == comment.StatusId)
                {
                    <br />
                    <fieldset class="comment">
                        <p class="comment">
                            @foreach (var commentOwner in Model.Members)
                            {
                                if (comment.UserId == commentOwner.Id)
                                {
                                    @commentOwner.FullName
                                }

                            }

                            - @comment.DateCreated
                        </p>
                        <hr>
                        <p> @comment.CommentText
                        <p />
                    </fieldset>
                }
            }

            @using (Html.BeginForm("PostHomeComment", "Home", new { StatusId = status.ID, GroupId = status.GroupId }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StatusComment.CommentText, new { htmlAttributes = new { @class = "status-textarea" } })
                        @Html.ValidationMessageFor(model => model.StatusComment.CommentText, "", new { @class = "status-textarea" })
                        <input class="status-button" name="Post" type="submit" value="Post" />
                    </div>
                </div>
            }
        </fieldset>
        <br />
        <br />
    }

</div>





<div class="right-column">
    <form>
        <fieldset>
            <legend> My Friends </legend>
            @foreach (var member in Model.Members)
            {
                foreach (var friend in Model.Friendships)
                {

                    if (member.Id == friend.FriendId)
                    {
                        <p>
                            @Html.ActionLink(@member.FullName, "profileindex", "profile", new { id = member.Id }, null)
                        </p>
                    }
                }
            }
        </fieldset>
    </form>
</div>



